*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100%;
    font-size: 1.6rem; 
    }
    
    @font-face {
    font-family: "Neue Haas Black";
    src: url('./fonts/neue-haas/NHaasGroteskDSPro-95Blk.woff') format('woff'),
         url('./fonts/neue-haas/NHaasGroteskDSPro-95Blk.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }

html{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: aliceblue;
}

.main-container{
    background-color: black;
    height: 100%;
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

.grid-item{
    grid-column: span 3;
    overflow: auto;
    padding: 20px;
}

.scene-before {
    padding: 30px;
    display: grid;
    /* background-image: url("scene.png"); */
    background-size: cover;
    grid-template-rows: 1fr 1fr;
    /* background-color: blue; */
}

.scene-after{
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* background-color: red; */
}

.scene-after,
.scene-before{
    height: 30vh;
}

.height{
    height: 60vh;
}

/* .background-image{
    background-image: url("./scene.png");
} */

.info{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align align-items: center;
    padding: 1px;

}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}